# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Home/Cat programe/Cat
Home/Cat programe/Cat1
Home/CatchTest/network_info
Home/CatchTest/start
Home/Select programe/Select
Home/Select programe/Select2
Home/Test/1/
Home/Test/Test
Home/UI programe/ui
lib/2
lib/3
lib/4
lib/5
lib/catch
lib/install.sh
lib/packet/
lib/sni
lib/sniffer
lib/start
libnid/1
libnid/2
libnid/3
libnid/mysniffer
libnid/packet_sniffer
libnid/test
libnid/test2